{
  "extends": "airbnb",
  "rules": {
    "react/jsx-filename-extension": ["error", {"extensions": [".js", ".jsx"] }],
    "no-param-reassign": ["error", {
      "props": true,
      "ignorePropertyModificationsFor": ["state"]
    }]
  },
  "globals": {
    "document": true,
    "fetch": true,
    "window": true
  }
}
